<div class="login-page">
  <div class="login-left">
    <div class="logo">JT</div>

  </div>

  <div class="login-right">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h2>LOGIN</h2>

      <input formControlName="email" type="email" placeholder="Email" />
      <input formControlName="password" type="password" placeholder="Password" />

      <div class="login-buttons">
        <a routerLink="/register" class="btn ghost">Register</a>
        <button type="submit" class="btn solid">Login</button>
      </div>

      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </div>
</div>
